/* Container */
.weather-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #020617;
  color: white;
}

/* Title */
.weather-container h1 {
  margin-bottom: 20px;
}

/* Input */
.weather-container input {
  padding: 10px;
  width: 220px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

/* Button */
.weather-container button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background-color: #00ffcc;
  cursor: pointer;
  font-weight: bold;
}

/* Hover */
.weather-container button:hover {
  opacity: 0.8;
}

/* Weather Box */
.weather-box {
  margin-top: 20px;
  background-color: #0f172a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Light Mode */
body.light .weather-container {
  background-color: #f5f5f5;
  color: black;
}

body.light .weather-box {
  background-color: white;
}